<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<!--Метод Patch работает только через тимлиф,  html5 поддерживает только get и post-->
<!--поэтому под капотом th:method="PATCH" создание input type="hidden" name="_method" value="patch"-->
<!--Спринг находит _method и использует значение patch-->
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>
</body>
</html>