<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Назначить администратора</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="person">Choose person:</label>
  <select th:object="${person}" th:field="*{id}" id="person">
<!--    это то, что будет отправляться на сервер th:value="${person.getId()}
th:field="*{id}" - то поле, которое будет выбираться в выпадающем списке, которое будет лежать в value-->
    <option th:each="person : ${people}" th:value="${person.getId()}"
    th:text="${person.getName()}"></option>
  </select>
  <input type="submit" value="Set admin"/>
</form>
</body>
</html>